.gallery img{
    width: 100%;
}
pre{
    font-family:sans-serif;
    font-style: normal;
    font-size: 24px;
    color: crimson;
    
}

h2{ 
    text-align: center;
}

a{ 
background-color: darkblue;
    color:#ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

a hover{
    background-color: aqua;
    
}